* {
    font-family: "Lato", Verdana, sans-serif;
}

.w-60 {
    width: 60%;
}

a.nav-link {
    color: black;
}

.nav-link:hover {
    background-color: #777;
}

#search:hover {
    background-color: #f44336;
    color: #fff;
}

header {
    height: 50vh;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

header h1 {
    letter-spacing: 10px;
    font-size: 24px;
}

header#header1 {
    background-image: url(images/parallax1.jpg);
}

header#header2 {
    background-image: url(images/parallax2.jpg);
}

header#header3 {
    background-image: url(images/parallax3.jpg);
}

.img-thumb {
    height: 25%;
    width: 25%;
}

.img-thumb:hover {
    opacity: 0.5;
}

#map {
    width: 33.33%;
    height: fit-content;
}